@import "~@angular/material/theming";

$primary: mat-color($mat-amber, 200);
$accent: mat-color($mat-blue-grey, 200);
$warn: mat-color($mat-red);

:host {
  background-color: #a0a0a0;
}
.active {
  background-color: $accent;
}

.index {
  background-color: $primary;
}

.tooltip-blue {
  background-color: mat-color($mat-blue-grey, 800);
  font-size: 11px;
  text-align: center;
}

.data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 32px 8% 72px;
}

.number {
  box-shadow: 0 1px 2px 2px #23232350;
  border-radius: 4px;
  width: 42px;
  padding: 3px 11px;
  text-align: center;
  margin: 4px;
  // background-color: #ffffff80;

  p {
    font-size: 11px;
    margin: 2px auto;
  }

  h1 {
    margin: 2px auto;
  }
}

pre {
  font-size: 1.8rem;
  text-align: left;
}

.mat-card {
  margin: 32px 8%;
  padding: 32px !important;
  background: #dddddd50;
  overflow: hidden;
}

.purple {
  color: rgb(145, 82, 145);
  font-weight: bold;
}

.light-blue {
  color: rgb(53, 94, 107);
  font-weight: bold;
}

.dark-blue {
  color: rgb(14, 47, 47);
  font-weight: bold;
}

.light-green {
  color: rgb(87, 131, 87);
  font-weight: bold;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
